<div class="tw-col-span-1">
    <div class="tw-flex tw-flex-col tw-items-left tw-justify-end tw-bg-white tw-h-[500px] 

        
      tw-rounded-t-[12px]
      lg:tw-rounded-[12px]

        {% if icon_text and icon_image != blank%}
        tw-rounded-b-[0px]
        {% else %}
        tw-rounded-b-[12px]
        {% endif %}
       
       
      tw-overflow-hidden tw-p-[32px] tw-gap-[24px] tw-relative">
   
      <!-- IMAGEM PRINCIPAL -->
      <div class="tw-flex tw-h-[300px] tw-w-full tw-justify-center tw-items-center">
        <img 
          src="{{ cover_image | asset_url }}" 
          alt="Hero Image" 
          width="auto" 
          height="auto" 
          class="tw-h-[250px] tw-w-auto tw-object-contain">
      </div>
  
      <!-- LABEL FLUTUANTE -->
      <div>

        {% if icon_image and icon_text != blank %}
        <div class="lg:flex tw-hidden tw-h-[40px] tw-absolute tw-top-[18px] tw-left-[32px] tw-w-full tw-items-center tw-gap-[12px] tw-font-semibold tw-text-[black] tw-text-[14px] tw-tracking-wide">
          <img src="{{ icon_image | asset_url }}" width="22" height="22">
          <span>{{ icon_text }}</span>
          <div class="tw-w-[1px] tw-h-[16px] tw-bg-[#C3C5CA]">&nbsp;</div>
          <span class="tw-text-[12px] tw-text-[#90959e] tw-font-light tw-tracking-normal">Free engraving</span>
        </div>
        {% endif %}
  
        <!-- TÍTULO E SUBTÍTULO -->
        <h2 class="tw-text-[24px] tw-font-medium tw-mb-[4px]">{{ title }}</h2>
        {% if subtitle and subtitle != blank %}
            <p class="tw-text-[#464F59] tw-text-[16px] tw-tracking-normal">{{ subtitle }}</p>
          {% endif %}
      </div>
  
      <!-- PREÇO E BOTÃO -->
      <div class="tw-text-black tw-text-[18px] tw-flex tw-items-center tw-justify-between tw-w-full tw-font-semibold">
        {{ price }}
        <a href="{{ url }}" class="tw-font-normal tw-text-[16px] tw-ml-[16px] tw-bg-[black] tw-py-[8px] tw-px-[32px] tw-text-white tw-rounded-full">
          Buy Now
        </a>
      </div>
    </div>
  
    <!-- FOOTER -->
    {% if icon_text and icon_image != blank %}
        <div class="tw-flex tw-py-[24px] lg:tw-hidden lg:tw-px-[56px] tw-px-[28px] tw-items-center tw-tracking-normal tw-justify-between tw-bg-[#FAFAFB] tw-rounded-b-[12px]">
            <div class="tw-flex tw-justify-center tw-items-center tw-gap-[12px]"> 
              <img src="{{ icon_image | asset_url }}" width="22" height="22">
              <p class="tw-black tw-font-semibold tw-text-[16px] lg:tw-text-[16px] tw-text-black">{{ icon_text }}</p>
            </div>
          
            <span class="tw-w-[1px] tw-h-[24px] tw-bg-[#E5E5E5] tw-inline-block tw-self-center" aria-hidden="true"></span>
          
            <div class="tw-flex tw-justify-center tw-items-center tw-gap-[14px]"> 
              <img src="{{"box-gray.svg" | asset_url }}" width="auto" height="28">
              <div class="tw-flex tw-flex-col tw-leading-none tw-gap-[4px]">
                <p class="tw-text-[14px] lg:tw-text-[14px] tw-font-semibold tw-text-black">{{ footer_delivery_text }}</p>
                <p class="tw-text-[13px] lg:tw-text-[13px] tw-text-[#717B8D]">{{ footer_delivery_sub }}</p>
              </div>
            </div>
          </div>
    {% endif %}
  </div>
  