<style>
  
</style>


<div class="lg:tw-h-[180px] tw-h-[140px] tw-relative tw-overflow-hidden tw-bg-mobile-gradient tw-bg-desktop-white tw-mt-[-4px]">
  <div class=" tw-hidden lg:tw-flex tw-absolute  tw-top-1/2 tw--translate-y-1/2 tw-bg-[#F2F5FA] tw-py-[8px] tw-w-[120vw] tw-ml-[-10vw] tw-text-[white] tw-rotate-[4deg] lg:tw-rotate-[3deg] tw-z-5">
    <div class="tw-bg-[#F2F5FA] tw-py-[8px] tw-text-[#A8AAAE] tw-overflow-hidden tw-w-full">
      <div class="tw-flex tw-w-max tw-marquee-track-back tw-my-[12px]">
        <!-- Track duplicado para efeito contínuo -->
        <div class="tw-flex tw-items-center tw-gap-[24px]">
          <p>Work for any shoe</p>
          {% comment %} <img src="{{ 'compatible-40.png' | asset_url }}" width="320" height="auto"> {% endcomment %}
          <div class="tw-flex tw-items-center tw-gap-[16px]">
            <img src="{{ 'logo-separator-black.svg' | asset_url }}" width="32">
            <p>AI-powered 3D iPhone scan</p>
            <img src="{{ 'logo-separator-black.svg' | asset_url }}" width="32">
            <p>Free Shipping Worldwide</p>
            <img src="{{ 'logo-separator-black.svg' | asset_url }}" width="32">
            <p>Shapesense By Groov</p>
            <img src="{{ 'logo-separator-black.svg' | asset_url }}" width="32">
            <p>Fast & Easy Personalization</p>
            <img src="{{ 'logo-separator-black.svg' | asset_url }}" width="32">
          </div>
        </div>

        <!-- Duplicado para o loop suave -->
        <div class="tw-flex tw-items-center tw-gap-[24px] tw-ml-[48px]">
          <p>Work for any shoe</p>
          {% comment %} <img src="{{ 'compatible-40.png' | asset_url }}" width="320" height="auto"> {% endcomment %}
          <div class="tw-flex tw-items-center tw-gap-[16px]">
            <img src="{{ 'logo-separator-black.svg' | asset_url }}" width="32">
            <p>AI-powered 3D iPhone scan</p>
            <img src="{{ 'logo-separator-black.svg' | asset_url }}" width="32">
            <p>Free Shipping Worldwide</p>
            <img src="{{ 'logo-separator-black.svg' | asset_url }}" width="32">
            <p>Shapesense By Groov</p>
            <img src="{{ 'logo-separator-black.svg' | asset_url }}" width="32">
            <p>Fast & Easy Personalization</p>
            <img src="{{ 'logo-separator-black.svg' | asset_url }}" width="32">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class=" tw-absolute  tw-top-1/2 tw--translate-y-1/2 tw-bg-[#323232] tw-py-[8px] tw-w-[120vw] tw-ml-[-10vw] tw-text-[white] tw-rotate-[0] lg:tw-rotate-[-2deg] tw-z-5">
    <div class="tw-bg-[#323232] tw-py-[8px] tw-text-white tw-overflow-hidden tw-w-full">
      <div class="tw-flex tw-w-max tw-marquee-track">
        <!-- Track duplicado para efeito contínuo -->
        <div class="tw-flex tw-items-center tw-gap-[24px]">
          <p>Work for any shoe</p>
          <img src="{{ 'compatible-40.png' | asset_url }}" width="320" height="auto">
          <div class="tw-flex tw-items-center tw-gap-[16px]">
            <img src="{{ 'logo-separator.svg' | asset_url }}" width="32">
            <p>AI-powered 3D iPhone scan</p>
            <img src="{{ 'logo-separator.svg' | asset_url }}" width="32">
            <p>Free Shipping Worldwide</p>
            <img src="{{ 'logo-separator.svg' | asset_url }}" width="32">
            <p>Shapesense By Groov</p>
            <img src="{{ 'logo-separator.svg' | asset_url }}" width="32">
            <p>Fast & Easy Personalization</p>
            <img src="{{ 'logo-separator.svg' | asset_url }}" width="32">
          </div>
        </div>

        <!-- Duplicado para o loop suave -->
        <div class="tw-flex tw-items-center tw-gap-[24px] tw-ml-[48px]">
          <p>Work for any shoe</p>
          <img src="{{ 'compatible-40.png' | asset_url }}" width="320" height="auto">
          <div class="tw-flex tw-items-center tw-gap-[16px]">
            <img src="{{ 'logo-separator.svg' | asset_url }}" width="32">
            <p>AI-powered 3D iPhone scan</p>
            <img src="{{ 'logo-separator.svg' | asset_url }}" width="32">
            <p>Free Shipping Worldwide</p>
            <img src="{{ 'logo-separator.svg' | asset_url }}" width="32">
            <p>Shapesense By Groov</p>
            <img src="{{ 'logo-separator.svg' | asset_url }}" width="32">
            <p>Fast & Easy Personalization</p>
            <img src="{{ 'logo-separator.svg' | asset_url }}" width="32">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-width ">
  <div class="tw-flex tw-flex-col tw-items-center tw-justify-center lg:tw-pb-[128px] lg:tw-pt-[128px] tw-pb-[128px] tw-pt-[64px]">
    <h2 class="tw-text-[#375469] lg:tw-text-[48px] tw-text-[32px] tw-leading-none tw-text-center tw-mb-[64px] tw-font-regular">
      Feels like it was made for <br>
      you.
      <span
        class="
          tw-text-[#1D9CF0]
          tw-font-semibold
        "
        >Because it was.</span
      >
    </h2>
    <div class="hyperlink">
      <a href="/collections/shop-all">
        <img src="{{ "big-image.png"  | asset_url }}" width="auto" height="auto">
      </a>
    </div>
  </div>
</div>
